a {
    text-decoration: none;
}
.catalog {
    width: 1102px;
    height: 1000px;

}
.content_left {
    width: 250px;
    height: 1000px;
    float: left;
}
.content_right {
    width: 850px;
    height: 1000px;
    float: right;
    border: 1px solid #cccccc;
}
.content_left .catalog_in {
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #aa69ff;
    border-right: 1px solid #aa69ff;
    margin-bottom: -19px;
    background: rgba(35, 27, 18, 0.4);
}
.content_left .catalog_in a{
    color: #f4f0ff;
}
.content_left .catalog_in:hover {
    width: 251px;
    height: 51px;
    background: rgba(35, 27, 18, 0.8)
}