a {
    text-decoration: none;
}
.catalog {
    width: 1100px;
    height: 1000px;
    background-color: #a4cfff;

}
.content_left {
    width: 250px;
    height: 1000px;
    background-color: #9addff;
    float: left;
}
.content_right {
    width: 850px;
    height: 1000px;
    background-color: #2dffb9;
    float: right;
}
.content_left .catalog_in {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #aa69ff;
    margin-bottom: 40px;
}