.catalog {
    width: 1100px;
    height: 1000px;
    background-color: #a4cfff;
}
.content_left {
    width: 250px;
    height: 1000px;
    background-color: #9addff;
}
.content_right {
    width: 850px;
    height: 1000px;
    background-color: #2dffb9;
}